/*=======  Large devices (desktops, less than 1200px) =======*/
@media (max-width: 1199.98px) {
    /*======= Header =======*/
	.navbar-wrapper .nav-menu ul li {
		margin: 0;
	}
	.panel-close {
		display: none;
	}
}

/*======= Extra small devices (portrait phones, less than 992px) =======*/
@media (max-width: 991.98px) {
	.main-btn {
		padding: 14px 30px;
	}
	// .img-box img {
	// 	// max-width: 100%; 
	// }
	.tr-bitem {
		margin-top: 40px;
	}
	.swiper {
		overflow: hidden;
		padding: 40px 10px;
	}

	.footer-area .footer-wrap .social-links ul {
		justify-content: center;
	}

	.footer-area .footer-widget {
		margin-top: 50px;
	}

	.footer-area .footer-wrap {
		text-align: center;
		margin-top: -30px;
	}

}

/*======= Extra small devices (portrait phones, less than 768px) =======*/
@media (max-width: 767.98px) {
	.main-btn {
		padding: 14px 30px;
	}
	.img-box img {
		width: 100%;
	}
	
	.feature-area {
		padding: 120px 0;
		clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 0);
	}

	.feature-area .site-item figure figcaption {
		 padding: 0;
	}
	.service-area .section-content figure .section-img img {
		width: 100%;
	}

	.slider-content {
		text-align: center;
		margin-top: 30px;
	}

	.sticky-header.sticky-on.transparent-header .navbar-inner .site-logo {
		width: 20%;
	}

}

/*======= Extra small devices (portrait phones, less than 576px) =======*/
@media (max-width: 575.98px) {
	.main-btn {
		padding: 14px 30px;
	}
	.footer-area .footer-wrap .site-logo {
		margin: 0 auto;
	}

}

@media (max-width: 359.98px) {

	.navbar-extra {
		background: #0e1622;
	}
	.mobile-menu-panel {
		width: 100%;
		.panel-close {
			display: block;
		}
	}

	.transparent-header .navbar-wrapper.breakpoint-on .navbar-inner {
		padding: 0;
	}
}
 