/*=======  Large devices (desktops, less than 1200px) =======*/
@media (max-width: 1199.98px) {
  /*======= Header =======*/
  .navbar-wrapper .nav-menu ul li {
    margin: 0;
  }
  .panel-close {
    display: none;
  }
}

/*======= Extra small devices (portrait phones, less than 992px) =======*/
@media (max-width: 991.98px) {
  .main-btn {
    padding: 14px 30px;
  }
  .tr-bitem {
    margin-top: 40px;
  }
  .swiper {
    overflow: hidden;
    padding: 40px 10px;
  }
  .hero-area .swiper .swiper-slide .hero-slideItem .banner-content {
    text-align: center;
  }
  .hero-area .slider-hero .swiper-wrapper .swiper-slide .hero-slideItem .banner-content h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .hero-area .slider-hero .swiper-wrapper .swiper-slide .hero-slideItem .img-box {
    margin-top: 30px;
  }
  .footer-area .footer-wrap .social-links ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-area .footer-widget {
    margin-top: 50px;
  }
  .footer-area .footer-wrap {
    text-align: center;
    margin-top: -30px;
  }
}

/*======= Extra small devices (portrait phones, less than 768px) =======*/
@media (max-width: 767.98px) {
  .main-btn {
    padding: 14px 30px;
  }
  .img-box img {
    width: 100%;
  }
  .swiper {
    overflow: hidden;
    padding: 40px 10px;
  }
  .hero-area .swiper .swiper-slide .hero-slideItem .banner-content {
    text-align: center;
  }
  .hero-area .slider-hero .swiper-wrapper .swiper-slide .hero-slideItem .banner-content h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .hero-area .slider-hero .swiper-wrapper .swiper-slide .hero-slideItem .img-box {
    margin-top: 30px;
  }
}

/*======= Extra small devices (portrait phones, less than 576px) =======*/
@media (max-width: 575.98px) {
  .main-btn {
    padding: 14px 30px;
  }
  .category-item-style, .category-area .slider-category .swiper-wrapper .swiper-slide .category-item,
  .magazine-area .articale-area .article-top-slider .swiper-wrapper .swiper-slide .category-item {
    min-height: 210px;
  }
  .figure-item-style figure .img-box, .trending-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure .img-box, .trending-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure .img-box, .blog-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure .img-box, .blog-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure .img-box, .tr-bitem figure .img-box, .magazine-area .magazine-item figure .img-box, .lifestyle-area .lifeStyle-item figure .img-box, .magazine-area-details .magazine-details-area .pdfContent .pdfContent-page .magazine-info .details-img figure .img-box, .magazine-area-details .magazine-details-area .sidebar-widget .free-item figure .img-box {
    min-height: 240px;
  }
  .figure-item-style figure figcaption .caption-area a.btn-readMore, .trending-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area a.btn-readMore, .trending-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area a.btn-readMore, .blog-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area a.btn-readMore, .blog-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area a.btn-readMore, .tr-bitem figure figcaption .caption-area a.btn-readMore, .magazine-area .magazine-item figure figcaption .caption-area a.btn-readMore, .lifestyle-area .lifeStyle-item figure figcaption .caption-area a.btn-readMore, .magazine-area-details .magazine-details-area .pdfContent .pdfContent-page .magazine-info .details-img figure figcaption .caption-area a.btn-readMore, .magazine-area-details .magazine-details-area .sidebar-widget .free-item figure figcaption .caption-area a.btn-readMore {
    font-size: 13px;
  }
  .hero-area .slider-hero .swiper-wrapper .swiper-slide .hero-slideItem .banner-content .banner-btn a.primari-btn {
    margin-top: 15px;
  }
  .magazine-area .links-area .links-btn a.btn {
    font-size: 12px;
  }
  .category-item-style .icon-box a.heart, .category-area .slider-category .swiper-wrapper .swiper-slide .category-item .icon-box a.heart, .magazine-area .articale-area .article-top-slider .swiper-wrapper .swiper-slide .category-item .icon-box a.heart {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .category-item-style .icon-box a.heart i:before, .category-area .slider-category .swiper-wrapper .swiper-slide .category-item .icon-box a.heart i:before, .magazine-area .articale-area .article-top-slider .swiper-wrapper .swiper-slide .category-item .icon-box a.heart i:before {
    font-size: 30px;
  }
  figure figcaption .caption-area .books-title a h4, .trending-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a h4, .blog-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a h4, .blog-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a h4, .tr-bitem figure figcaption .caption-area .books-title a h4, .magazine-area .magazine-item figure figcaption .caption-area .books-title a h4, .lifestyle-area .lifeStyle-item figure figcaption .caption-area .books-title a h4, .magazine-area-details .magazine-details-area .pdfContent .pdfContent-page .magazine-info .details-img figure figcaption .caption-area .books-title a h4, .magazine-area-details .magazine-details-area .sidebar-widget .free-item figure figcaption .caption-area .books-title a h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .figure-item-style figure figcaption .caption-area .books-title a i:before, .trending-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a i:before, .trending-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a i:before, .blog-area .slider-trending .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a i:before, .blog-area .slider-blog .swiper-wrapper .swiper-slide .tr-item figure figcaption .caption-area .books-title a i:before, .tr-bitem figure figcaption .caption-area .books-title a i:before, .magazine-area .magazine-item figure figcaption .caption-area .books-title a i:before, .lifestyle-area .lifeStyle-item figure figcaption .caption-area .books-title a i:before, .magazine-area-details .magazine-details-area .pdfContent .pdfContent-page .magazine-info .details-img figure figcaption .caption-area .books-title a i:before, .magazine-area-details .magazine-details-area .sidebar-widget .free-item figure figcaption .caption-area .books-title a i:before {
    padding: 8px;
    font-size: 12px;
  }
}

@media (max-width: 359.98px) {
  .navbar-extra {
    background: #363636;
  }
  .mobile-menu-panel {
    width: 100%;
  }
  .mobile-menu-panel .panel-close {
    display: block;
  }
  .transparent-header .navbar-wrapper.breakpoint-on .navbar-inner {
    padding: 0;
  }
}
/*# sourceMappingURL=responsive.css.map */